In [261]:
import pandas as pd 
import plotly.graph_objects as go
from datetime import datetime
import os

data_folder = r"/workspaces/Projects/Cashew_Board/data"
file_on_folder = os.listdir(data_folder)[0]

def android_to_hex(color_code):
    hex_code = "#{:06x}".format(color_code & 0xffffff)
    return hex_code

df = pd.read_csv(fr"{data_folder}/{file_on_folder}", engine = "pyarrow", keep_default_na = False)
df["color"] = df["color"].apply(android_to_hex)
df['amount'] = df['amount'].abs() # Transform negative values to positive
df["date"] = df["date"].dt.strftime("%Y-%m")

df

,account,amount,currency,title,note,date,income,type,category name,subcategory name,color,icon,emoji,budget,objective
0,Main,12.0,USD,,,2024-11,False,null,Taxi,,#ffee58,taxi(1).png,,,
1,Main,8.0,USD,,,2024-11,False,null,Taxi,,#ffee58,taxi(1).png,,,
2,Main,8.0,USD,,,2024-11,False,null,Taxi,,#ffee58,taxi(1).png,,,
3,Main,8.0,USD,,,2024-11,False,null,Taxi,,#ffee58,taxi(1).png,,,
4,Main,20.0,USD,,Proton Duo wi,2024-11,False,null,Subscription,,#ff7043,subscription.png,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283,Main,1.0,USD,,,2024-01,False,null,Groceries,,#4caf50,groceries.png,,,
1284,Main,10.0,USD,,,2024-01,True,null,Tip,,#66bb6a,dollar-coin.png,,,
1285,Main,16.0,USD,,,2024-01,False,null,Taxi,,#ffee58,taxi(1).png,,,
1286,Main,14.0,USD,,,2024-01,False,null,Taxi,,#ffee58,taxi(1).png,,,
1287,Main,650.0,USD,,,2024-01,False,null,Rent,,#ab47bc,home2.png,,,