In [ ]:
from openbb import obb
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [15]:
df_etf = obb.equity.price.historical("SPY", start_date="2022-01-01", end_date="2022-12-31", interval="1d").to_dataframe()

df_etf

,open,high,low,close,volume,split_ratio,dividend,capital_gains
date,,,,,,,,
2022-01-03,476.299988,477.850006,473.850006,477.709991,72668200,0.0,0.0,0.0
2022-01-04,479.220001,479.980011,475.579987,477.549988,71178700,0.0,0.0,0.0
2022-01-05,477.160004,477.980011,468.279999,468.380005,104538900,0.0,0.0,0.0
2022-01-06,467.890015,470.820007,465.429993,467.940002,86858900,0.0,0.0,0.0
2022-01-07,467.950012,469.200012,464.649994,466.089996,85111600,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
2022-12-23,379.649994,383.059998,378.029999,382.910004,59857300,0.0,0.0,0.0
2022-12-27,382.790009,383.149994,379.649994,381.399994,51638200,0.0,0.0,0.0
2022-12-28,381.329987,383.390015,376.420013,376.660004,70911500,0.0,0.0,0.0
2022-12-29,379.630005,384.350006,379.079987,383.440002,66970900,0.0,0.0,0.0
2022-12-30,380.640015,382.579987,378.429993,382.429993,84022200,0.0,0.0,0.0