In [4]:
import pandas as pd

df = pd.read_csv(r"/workspaces/Projects/cashew-2025-01-08-16-06-59-262156.csv", engine = "pyarrow", keep_default_na = False)


df = df[df["income"] == True] # Keeps only incomes and subcategory if not empty
df["category name"] = df.apply(lambda row: row["subcategory name"] if row["subcategory name"] != "" else row["category name"], axis = 1)
df = df.groupby(by = ["category name", "color"]).agg({"amount": "sum"}).reset_index().sort_values(by = "amount", ascending = False)

df

      category name       color   amount
4            Salary  4284922730  56760.0
6   SignUp + Refers  4289415100   1037.0
7               Tip  4289415100    607.0
0  401k - 25% Match  4280723098    268.0
1       Coin Saving  4289415100    165.0
5             Sells  4289415100     60.0
3      Other Income  4289415100     50.0
2             Gifts  4289415100     50.0